<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="CACHE-CONTROL" content="NO-CACHE">
    <meta http-equiv="CACHE-CONTROL" content="NO-STORE">
    <title>Магазин музыкальных инструментов</title>
    <link href="" rel="stylesheet" type="text/css" />
    @Scripts.Render("~/bundles/scripts", "~/Angular/main.js")
    @Styles.Render("~/Content/css")

</head>

<body ng-app="Web">
    <div class="content-style">
        <div class="msg-overlay" ng-show="loadingIsShow">
            <div class="msg">
                <span>
                    Обработка данных...
                    <i class="fa fa-refresh fa-spin fa-fw"></i>
                </span>
            </div>
        </div>

        <top-menu></top-menu>


        @RenderBody()
        <div class="navbar-fixed-bottom">
            <input id="userName" type="hidden" runat="server" value="@User.Identity.Name" />
            <input id="authentication" type="hidden" runat="server" value="@Request.IsAuthenticated"/>
            <div align="center">
                &copy;
                <script>document.write(new Date().getFullYear())</script> &nbsp;|&nbsp; Проект Ткаченко Дмитрия Александровича.
            </div>
            @RenderSection("scripts", required: false)
        </div>
    </div>
</body>
</html>
