<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="CACHE-CONTROL" content="NO-CACHE">
    <meta http-equiv="CACHE-CONTROL" content="NO-STORE">
    <title>Магазин музыкальных инструментов</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    @Scripts.Render("~/bundles/scripts", "~/Angular/main.js")
    @Styles.Render("~/Content/css")

</head>

<body ng-app="Web">
<div class="content-style">
    <div style="width: 100%" class="container-fluid header">
        <div class="logo pull-left" style="margin-left: -14px">
            <img src="~/Content/image/images.png" alt="logo" height="70" width="340"/>
        </div>
        <div style="float: left">
            <h1 style="font-style: italic; color: white">
                <a href="http://localhost:21606/">Магазин музыкальных инструментов</a>
            </h1>
        </div>
        <div>
            <a class="Login" href="" ui-sref="mainPage/Login">Войти</a>
            <a class="Login" href="" ui-sref="mainPage/Registration">Регистрация</a>
        </div>
    </div>
    <div class="body-content">
        <div class="bg-info  text-center">
            <div class="container wrapper">
                <p class="catalog" style="padding-top: 10px">Каталог товаров </p>
            </div>
        </div>
    </div>
    <div class="msg-overlay" ng-show="loadingIsShow">
        <div class="msg">
            <span>
                Обработка данных...
                <i class="fa fa-refresh fa-spin fa-fw"></i>
            </span>
        </div>
    </div>
    <nav id="nav">
        <ul>
            <li>
                <a href="#">Струнные</a>
                <ul class="second">
                    <li><a href="#">Электрогитары</a></li>
                    <li><a href="#">Акустические гитары</a></li>
                    <li><a href="#">Бас-гитары</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Клавишные</a>
                <ul class="second">
                    <li><a href="#">Пианино</a></li>
                    <li><a href="#">Синтезатор</a></li>
                    <li><a href="#">Рояль</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Ударные</a>
                <ul class="second">
                    <li><a href="#">Малые барабаны</a></li>
                    <li><a href="#">Большие барабаны</a></li>
                    <li><a href="#">Тарелки</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Духовые</a>
                <ul class="second">
                    <li><a href="#">Трубы</a></li>
                    <li><a href="#">Тромбон</a> </li>
                    <li><a href="#">Саксофон</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Смычковые</a>
                <ul class="second">
                    <li><a href="#">Скрипка</a></li>
                    <li><a href="#">Виолончель</a> </li>
                    <li><a href="#">Контрабас</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Народные</a>
                <ul class="second">
                    <li><a href="#">Аккордеон</a></li>
                    <li><a href="#">Гармонь</a> </li>
                    <li><a href="#">Баян</a></li>
                </ul>
            </li>
        </ul>
    </nav>

    @RenderBody()

    <p class="footer">
        &copy;
        <script>document.write(new Date().getFullYear())</script> &nbsp;|&nbsp;Проект Ткаченко Дмитрия Александровича.
    </p>



    @RenderSection("scripts", required: false)
</div>
</body>
</html>
